@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    height: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: blueviolet;
    border-radius: 5px;
    height: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    height: 5px;
}

.side {
    @apply duration-200 flex gap-2 items-center hover:bg-blue-700 hover:text-gray-50 p-2 rounded w-full bg-base-200;
}

.active{
    @apply bg-gradient-to-r from-orange-700 to-blue-500 text-gray-50 hover:bg-blue-700 hover:text-gray-50;
}
